@media (max-width: 576px) {
.pera1,.pera2,.text1{
    text-align: center;
}
.text1{
    width:100%
}
.pera2{
    font-size:30px;
}
.btn-primary,.btn-ghost{
    padding: 8px;
    margin: 6% 39%;
    font-size: 7px;
}
.mob1 {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 370px;
    height: 400px;
}
.details,.beautiful,.toka{
    text-align: center;
}
.blueline1{
    margin: 0 auto;
}
.blueline{
    margin: 0 auto;
}
.toka{
    margin:0 auto;
}
.icons{
    text-align: left;
    margin-left: 30px;
}
.details1,.super,.pera3{
    text-align: center;
}
.pera3{
    margin: 0 auto;
    margin-top: 20px;
}
.btn-view,.btn-download{
    margin: 0;
    margin-left: 20px;
    text-align: center;
}
.zero01,.zero02,.zero03,.zero04{
    width: 90%;
    margin: 30px auto;
}
.pain {
    width: 75%;
    margin: 0 auto;
}
form {
    display: none;
}
.contact {
    position: relative;
    padding-top: 65px;
    background: #ededed;
    padding-bottom: 425px;
    overflow: hidden;
    padding: 35px 0px;
}
}
@media (min-width: 577px) and (max-width: 768px) {
    .pera1,.pera2,.text1{
        text-align: center;
    }
    .text1{
        width: 100%;
        font-size: 15px;
        padding: 0 80px;
    }
    .pera2{
        font-size: 35px;
    }
    .mir1{
        margin: 0 auto;
    }
    .btn-primary{
        margin: 20px 108px;
    }
    .btn-ghost{
        margin: 20px 7px;
    }
    .advantage-img {
        width: 50%;
    }
    .mir2{
text-align: center;
    }
    .toka {
        width: 100%;
        padding: 0 20%;
 }
 .pera3 {
    width: 100%;
    padding: 0 20%;
}
.btn-order{
    margin-left: 85px; 
}
.zero01,.zero02,.zero03,.zero04{
    margin-bottom: 30px;
}
.pain {
    width: 31%;
    margin: 0 auto;
}
}

@media (min-width: 769px) and (max-width: 992px) {
    .pera2 {
        font-size: 43px;
    }
    .mob1{
        margin-top: 100px;
        margin-left: 0;
    }
    .pera{
        padding: 0;
    }
    .btn-view{
        margin-left: 0;
    }
    .pera4,.pera5{
        font-size:24px;
    }
    
    .btn-order {
        float: left;
        padding-right: 37px;
        padding-left: 37px;
        margin-left: 23px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .pain {
        width: 24%;
        margin: 0 auto;
    }
 }

@media (min-width: 993px) and (max-width: 1199.98px) { 
    .pera2 {
        font-size: 43px;
    }
    .mob1{
        margin-top: 100px;
        margin-left: 0;
    }
    .pera{
        padding: 0;
    }
    .btn-view{
        margin-left: 0;
    }
    .pera4,.pera5{
        font-size:24px;
    }
    
    .btn-order {
        float: left;
        padding-right: 37px;
        padding-left: 37px;
        margin-left: 23px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .pain {
        width: 24%;
        margin: 0 auto;
    }
}
